
<h1 class="mb-4">All Listings</h1>

<div class="row">
  <% listings.forEach(listing => { %>
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">

        <img 
          src="<%= listing.image.url %>"
          class="card-img-top"
          style="height: 220px; object-fit: cover;">

        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text text-muted"><%= listing.location %> • <%= listing.country %></p>

          <h6 class="text-success">₹ <%= listing.price %></h6>

          <a href="/listings/<%= listing._id %>" class="btn btn-primary mt-2">
            View Details
          </a>
        </div>

      </div>
    </div>
  <% }) %>
</div>
